@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@font-face {
    font-family: 'Century Gothic';
    src: url(../font/centurygothic.ttf)
}
* {
    font-family: 'Noto Sans', sans-serif;
}

.header .upper {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    background-color: #494C51;
    color: white;
}

.header .upper .container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header .upper .upper-item {
    margin: 0px;
    height: 100%;
    float: right;
}

.header .under-upper {
    height: 40px;
    line-height: 40px;
}

.header .bottom {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #494C51;
}

.header .bottom .item {
    padding: 0px 10px;
    cursor: pointer;
}

.active:after {
    content: "";
    display: block;
    width: 100px;
    margin: -6px auto 0;
    border-bottom: 5px solid #95C11F;
}

.wide {
    padding: 0px 20px;
}

.narrow {
    padding: 0px 10px;
}

.no-padding {
    padding: 0px;
}

.fa {
    font-size: 20px;
}

.inline-block {
    display: inline-block;
}

.info-div {
    display: inline-block;
    padding: 5px 25px;
    line-height: 90%;
}

.valign {
    margin: auto;
}

.green {
    background-color: #95C11F;
    color: white;
}

.blue {
    background-color: #0092D0;
    color: white;
}

.gray {
    background-color: #494C51;
    color: white;
}

.blue-text {
    color: #0092D0;
}

.gray-text {
    color: #494C51;
}

.vhr {
    padding: 0px !important;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.bigger {
    font-size: 20px;
}

.logo {
    max-width: 100%;
    max-height: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-caption {
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    margin-bottom: 20px;
}

div.section {
    padding: 10px 0px;
}

h5 {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
}

h5:after {
    content: "";
    display: block;
    width: 100px;
    margin: 5px auto 15px;
    border-bottom: 5px solid #95C11F;
}

.triple-img-container img {
    width: 100%;
    opacity: 0;
    display: block;
    transition-duration: 0.5s;
    cursor: pointer;
}

.triple-img-container img:hover, .triple-img-container img:hover + .hover-text {
    opacity: 0.8;
}

.triple-img-container .hover-text {
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: white;
    opacity: 0;
    transition-duration: 0.5s;
}

.triple-img-container .plus-icon > div {
    box-sizing: border-box;
    border-bottom: 3px solid #0092D0;
    height: 0px;
    padding-bottom: 100%;
    overflow: hidden;
}

.triple-img-container .plus-icon > div:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.9);
}

.triple-img-container .plus-icon:after {
    content: "+";
    display: block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    border-radius: 100%;
    background-color: #0092D0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    transform: translateY(-50%);
}

.triple-img-container .house {
    background-size: cover;
    background-position: center;
}

#house1 {
    background-image: url('../img/triple-1.png');
}

#house2 {
    background-image: url('../img/triple-2.png');
}

#house3 {
    background-image: url('../img/triple-3.png');
}

.text-over {
    background-image: url("../img/background.png");
    width: 100%;
    background-size: cover;
    background-position: center;
}

.text-over .cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #0092D0;
    color: white;
    border: none;
    padding: 10px 40px;
    margin: 10px 0px;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: " - ";
    padding-right: 10px;
}

.picture-grid {
    overflow: hidden;
}
.picture-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.picture-grid .row, .picture-grid .col-md-3 {
    height: 50vh;
    overflow: hidden;
}
.picture-grid .col-md-3, .picture-grid .col {
    overflow: hidden;
}
.picture-grid .col-md-3 {
    height: 100%;
    padding: 0px 2px;
}

.picture-grid .col-12 {
    height: 50%;
}

.footer * {
    font-family: "Century Gothic", sans-serif;
}

.footer .upper {
    line-height: 60px;
}

.footer .upper img {
    width: 30px;
}

.footer .upper span {
    font-size: 14px;
}

.footer .bottom {
    padding: 10px 0px 0px 0px;
    background-color: #494C51;
    color: white;
}

.footer .bottom img {
    max-width: 100%;
}

.footer .bottom div {
    padding: 5px;
}

div.hr {
    width: 100%;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 544px) {
    .section div {
        margin: 0px;
    }

    span.xs-wrap {
        display: block;
        color: #494C51;
        height: 0px;
    }
    
    .container {
        margin: 10px;
    }
}

@media screen and (min-width: 544px) {
    .img-caption {
        transform: translateY(-100%);
        margin-bottom: -30px;
    }
}

@media screen and (min-width: 768px) {
    .md-narrower {
        width: 70%;
    }

    .text-over .cover {
        padding: 5% 30% !important;
    }

    table.concept tr td {
        width: 25%;
    }
}
